@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*,
 ::before,
 ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
    background-color: #fafafa;
    color: #141C3A;
    line-height: 1.6;
    font-size: 16px;
}

.navbar-cyan {
    background-color: #007c91 !important;
}

.center {
    margin: 0 auto;
}

.modal-title {
    font-weight: bold !important;
}

footer {
    background-color: #006F45;
    padding: 1rem .25rem;
    color: white;
    margin-top: 5rem;
    text-align: center;
}

.shadow {
    box-shadow: 0 7px 20px -10px rgba(51, 51, 51, 0.5);
}

.section-title {
    text-align: center;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    font-weight: 600;
}

.obyek-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-weight: 600;
}

.obyek-list {
    background-color: #e4e4de;
    text-align: center;
    padding: 1rem 0 1rem 0;
    border: solid 1px rgba(130, 127, 127, 0.386);
    border-radius: .5rem;
    cursor: pointer;
}

.instrumen-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-weight: 600;
}

.instrumen-list {
    background-color: #e4e4de;
    text-align: center;
    padding: 1rem;
    border: solid 1px rgba(130, 127, 127, 0.386);
    border-radius: .5rem;
    cursor: pointer;
}

.obyek-list:hover,
.instrumen-list:hover {
    background-color: #f8f8f8;
    box-shadow: 7px 7px 20px -10px rgba(51, 51, 51, 0.5);
}


/* landing page style */

.landing-page {
    min-height: 100vh;
    padding: 100px;
    background-color: #fafafa;
    /* background-color: #00000087;
    background-image: url("../img/jumbotron-unj.jpg");
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    color: #fafafa;
    padding: 4rem 1rem 4rem 1rem; */
}

.nav-link {
    font-weight: 600;
}

.navbar {
    /* background-color: #006F45; */
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    position: relative;
    display: flex;
}

nav ul li {
    list-style: none;
    transform: translateX(-50%);
}

nav ul li a {
    display: inline-block;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    letter-spacing: 1.6px;
    transition: .5s;
}

nav ul li a:hover {
    transform: translateY(-4px);
}


/* content */

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 800;
}

.content .textBox p {
    color: #333;
}

.jumbotron-image {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.thumbnail-bar {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumbnail-bar li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumbnail-bar li:hover {
    transform: translateY(-15px);
}

.thumbnail-bar li img {
    max-width: 60px;
    background-color: #006F45;
}

.thumbnail-bar-content {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thumbnail-bar-content li {
    list-style: none;
}

.thumbnail-bar-content li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    font-size: 40px;
    color: #000;
    filter: invert(1);
}

.circle-clip-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(143, 200, 30);
    clip-path: circle(600px at right 800px);
}


/* end landing page style */