@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Palanquin+Dark&display=swap');
*,
 ::before,
 ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Palanquin Dark', sans-serif;
}

body {
    font-family: 'Andika New Basic', sans-serif !important;
    background-color: #fafafa;
    color: #141C3A;
    line-height: 1.6;
    font-size: 16.4px;
}

main {
    /* make sure to cover the screen */
    min-height: 100vh;
    /* need a solid bg to hide the footer */
    background: #fafafa;
    /* put on top */
    position: relative;
    z-index: 1;
}

.navbar-cyan {
    background-color: #007c91 !important;
}

.bg-cyan {
    background-color: #4DB6AC;
}

.center {
    margin: 0 auto;
}

.modal-title {
    font-weight: bold !important;
}

.btn-purple {
    background-color: #8a0089;
    color: #fff;
}

.btn-outline-purple {
    color: #000;
    border-color: #8a0089;
}

.btn-outline-purple:hover {
    background-color: #0086ca;
    color: #fff;
    border-color: #0086ca;
}

.purple-text {
    color: #8a0089 !important;
}

a .navbar-light .purple-text {
    color: #8a0089 !important;
}

.btn-purple:hover {
    background-color: #0086ca;
    color: #fff;
}

tr {
    height: 50px !important;
}


/* footer {
    background-color: #006F45;
    padding: 1rem .25rem;
    color: white;
    margin-top: 5rem;
    text-align: center;
} */

footer {
    /* place on the bottom */
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #006F45;
    color: white;
    display: grid;
    place-items: center;
    padding: 50px;
}

#scrollToTopBtn {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: rgb(128, 128, 128, .4);
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow {
    box-shadow: 0 7px 20px -10px rgba(51, 51, 51, 0.5);
}

.menu {
    min-height: 100vh;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
}

.section-title {
    text-align: center;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    font-weight: 600;
    background-color: #fafafa;
    color: #8a0089;
}

.obyek-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 3rem;
    font-weight: 600;
}

.obyek-list {
    background-color: #fff;
    text-align: center;
    padding: 1rem 20px;
    border: solid 1px rgb(242, 112, 237, .4);
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s;
}

#passageWrapper {
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    height: 40px;
    top: 0px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.instrumen-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-weight: 600;
}

.instrumen-list {
    background-color: #e4e4de;
    text-align: center;
    padding: 1rem;
    border: solid 1px rgba(130, 127, 127, 0.386);
    border-radius: .5rem;
    cursor: pointer;
}

.obyek-list:hover,
.pilih-inst:hover {
    border: solid 1px rgb(161, 218, 254, .4);
    box-shadow: 10px 10px 23px -13px rgba(51, 51, 51, 0.5);
    background-color: rgb(161, 218, 254, .4);
}

.obyek-list a:hover,
.pilih-inst a:hover {
    color: #0086ca;
}

.nav-link:hover {
    color: #0086ca !important;
}


/* landing page style */

.landing-page {
    min-height: 80vh;
    padding: 20px;
}


/* navbar */

.navbar {
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #017143;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 1.6px;
    transition: .5s;
    font-weight: 600;
    color: #000;
}

nav ul li a:hover {
    transform: translateY(-2px);
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.nav-item {
    padding: 0 18px;
}


/* content */

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    padding-left: 60px;
}

.content .textBox h2 {
    color: #333;
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #8a0089;
    font-size: 1.2em;
    font-weight: 800;
}

.content .textBox p {
    color: #333;
}

.jumbotron-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.circle-clip-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4db6ac;
    clip-path: circle(600px at right 800px);
}


/* preloader */

.preloader {
    align-items: center;
    background: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
}


/* responden page */

.pilih-inst {
    background-color: #f1f3f4;
    text-align: center;
    padding: 1rem 20px;
    border: solid 1px rgba(58, 65, 64, 0.4);
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s;
}


/* end landing page style */


/* media queries */


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .navbar {
        padding: 12px;
    }
    nav ul li a {
        padding: 0;
    }
    .navbar-nav .nav-link {
        padding-right: 1rem !important;
    }
    .landing-page {
        height: 100%;
        padding: 20px;
    }
    .content {
        flex-direction: column;
        margin-top: 2vh;
    }
    .content .textBox {
        padding: 0;
    }
    .content .textBox h2 {
        font-size: 26px;
    }
    .content .textBox h3 {
        font-weight: 500;
    }
    .content .textBox p {
        font-weight: 500;
    }
    .jumbotron-image {
        padding: 20px;
        justify-content: center;
    }
    .btn-jumbotron {
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
        background-color: rgb(1, 113, 67, .8);
    }
    .circle-clip-path {
        clip-path: circle(400px at center bottom);
    }
    .navbar-brand {
        font-size: 1rem;
    }
    .navbar-brand img {
        width: 20px;
        height: 20px;
    }
    .nav-item {
        padding: 0;
    }
    /* sticky scrolling */
    #passage {
        height: 10px;
    }
    #passageWrapper {
        position: sticky;
        position: -webkit-sticky;
        z-index: 1;
    }
    #passage {
        margin: 0 0 20px 0;
        filter: contrast(120%);
    }
    #passageWrapper {
        height: 40px;
        top: 0px;
    }
    .menu {
        min-height: 100vh;
        padding: 0 18px;
    }
    .obyek-menu {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }
}

@media (max-width: 575.98px) {
    .circle-clip-path {
        clip-path: circle(300px at center bottom);
    }
}

@media (max-width: 361px) {
    .circle-clip-path {
        clip-path: circle(180px at center bottom);
    }
    .content {
        flex-direction: column;
        margin-top: 6vh;
    }
    .navbar {
        padding: 0;
    }
    .navbar-toggler {
        padding: .25rem .75rem;
    }
    .navbar-brand {
        font-size: 16px;
    }
    .navbar-brand img {
        width: 18px;
        height: 18px;
    }
}